<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MemeMachine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MemeMachine.Properties.Settings>
            <setting name="LastOutputDevice" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="LastFileList" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPTTKey" serializeAs="String">
                <value>47</value>
            </setting>
            <setting name="LastNavigateKey" serializeAs="String">
                <value>Oem5</value>
            </setting>
            <setting name="LastMouseButton" serializeAs="String">
                <value>Middle</value>
            </setting>
            <setting name="LastVolumeOutput" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LastVolumeDefault" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LastOSDTextColour" serializeAs="String">
                <value>MediumSpringGreen</value>
            </setting>
            <setting name="bOSDEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bOSDHide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bOSDProgress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bOSDPlaying" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sStoredColours" serializeAs="String">
                <value>#C8CCCCCC;#FFF3F3F3;#FF6CFF45;#AF000000;#FF6CFF45;#78787878;</value>
            </setting>
            <setting name="bSimulatePTT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bPlayOnDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="sFont" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="dListSize" serializeAs="String">
                <value>4</value>
            </setting>
        </MemeMachine.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
